/* 
Base de cores
- Fundo: #420047
- Links: #9000d1
- Títulos: #a180a3;
- Cabeçalhos: #00ff00
- Chamadas: #e8ff00
- SubColor: #aa00ff
- Fonte: #FFFFFF;
*/
body{
    /* background-color: #420047; */
    color:#fafafa;
    margin:0px;
}
::selection{
    background-color: #420047;
    color:white;
}
p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    line-height: 25px;
    margin:0px
}
h1{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
ul{
    padding:25px 15px 25px 15px;
}
.menuPrincipal ul li a{
    text-decoration: none;
    color:#0f0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
}
.menuPrincipal ul li a:hover{
    text-decoration: none;
    color:#9000d1;
    border-bottom:3px solid #3cff00;
}
.menuPrincipal ul li a:visited{
    text-decoration: none;
}
.menuPrincipal ul li{
    display: inline;
    padding: 15px;
}
input[type="search"]{
    color:#420047;
    width: 60%;
    height: 40px;
    border:0px;
    border-radius: 20px;
    padding-left:10px;
    font-size: 20px;
    background: url('../img/lupa2.png')rgb(0, 255, 0);
    background-size: 50px;
    background-position-x: right;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 15px;
}
label{
    display: block;
}
input[type="submit"]{
    background-color:#12F300;
    border:0px;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    font-weight: 900;
    margin-top:20px;
}
input[type="reset"]{
    background-color:#a180a3;
    border:0px;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    font-weight: 900;
    margin-top:20px;
}
input[type="checkbox"]{
    width: 15px;
    height: 15px;
}
.menuTop ul{
  margin:0px;
  padding:0px;
  color:white;
}
.menuTop ul li{
    display: inline;
}
.menuTop ul li a{
    background-color:#04f104;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.menuTop ul li a:hover{
    text-decoration: none;
    background-color:#e1f104;
}
.menuTop a{
    text-decoration: none;
    color:#0f0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

h3{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
h4{
    margin:0px;
    color:#420047;
}
h2{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
.espacamento{
    padding-top: 5px;
    padding-bottom: 10px;
}
.status span{
    color:#e8ff00;
    font-weight: 900;
}
.imgBoxRounded{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #f1f1f1;
    margin-top: -25%;
    box-shadow: 5px 5px #9000d1;
}
.imgBoxRounded:hover{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #e1f104;
    margin-top: -25%;
    box-shadow: 5px 5px #9000d1;
}
.spaceLados{
    padding:15px;
}
.bordaAuxilar{
    background-color: red;
}
.linhaAuxiliar{
    background-color: rgb(251, 255, 0);
    color:black;
}
.box2{
    background-color:#e7d8e7;
    color:#420047;
    padding: 10px;
    margin:50px 30px 20px 50px;
    height:270px;
    width: 230px;
    border-radius: 15px;
    box-shadow: 10px 10px #a180a3;
    display: inline-block;
    box-sizing: border-box;
    justify-content: center;
}
.box1{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color:#e7d8e7;
    color:#420047;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px #a180a3;
}
.boxheader{
    background-color: #420047;
    height: 50px;
    margin-right:20px;
    line-height: 50px;
    color:white;
}
.boxdireita{
    color:red;
    background-color: #420047;
}
.boxinterna{
    background-color: red;
    color:white;
}
.barraFiltro{
    background-color: rgb(230, 217, 217);
    color: red;
    border-radius: 10px;
    margin:10px;
    padding:15px;
}
.filtrosProdutosHorizontal ul li {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    margin:5px 7px;
    padding: 10px;
    color:black;
    box-sizing: content-box;
}
.filtrosProdutosHorizontal ul {
    margin-top:-20px;
}
.filtrosProdutosHorizontal ul li a{
    text-decoration: none;
}
.filtrosProdutosHorizontal ul li img{
    text-decoration: none;
    line-height: 40px;
    width: 20px;
    margin-bottom: -5px;
    margin-right:3px
}
.filtrosProdutosHorizontal{
    
}