/* 
Base de cores
- Fundo: #420047
- Links: #9000d1
- Títulos: #a180a3;
- Cabeçalhos: #00ff00
- Chamadas: #e8ff00
- SubColor: #aa00ff
- Fonte: #FFFFFF;
*/
body{
    /* background-color: #420047; */
    color:#030000;
    margin:0px;
    
}
::selection{
    background-color: #420047;
    color:white;
}
::placeholder{
    color:#420047;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    line-height: 25px;
    margin:0px
}
h1{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
ul{
    padding:25px 15px 25px 15px;
}
.menuPrincipal ul li a{
    text-decoration: none;
    color:#0f0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
}
.menuPrincipal ul li a:hover{
    text-decoration: none;
    color:#9000d1;
    border-bottom:3px solid #3cff00;
}
.menuPrincipal ul li a:visited{
    text-decoration: none;
}
.menuPrincipal ul li{
    display: inline;
    padding: 15px;
}
input[type="search"]{
    color:#420047;
    width: 60%;
    height: 40px;
    border:0px;
    border-radius: 20px;
    padding-left:10px;
    font-size: 20px;
    background: url('../img/lupa2.png')#00ff00;
    background-size: 50px;
    background-position-x: right;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 15px;
}
label{
    display: block;
}
input[type="submit"]{
    background-color:#12F300;
    border:0px;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    font-weight: 900;
    margin-top:20px;
}
input[type="reset"]{
    background-color:#a180a3;
    border:0px;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    font-weight: 900;
    margin-top:20px;
}
input[type="checkbox"]{
    width: 15px;
    height: 15px;
}
.menuTop ul{
  margin:0px;
  padding:0px;
  color:white;
}
.menuTop ul li{
    display: inline;
}
.menuTop ul li a{
    background-color:#04f104;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.menuTop ul li a:hover{
    text-decoration: none;
    background-color:#e1f104;
}
.menuTop a{
    text-decoration: none;
    color:#0f0000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding:5px;
}

h3{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
h4{
    margin:0px;
    color:#420047;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
h2{
    color:#12F300;
    font-family: 'Comfortaa', cursive;
}
.espacamento{
    padding-top: 5px;
    padding-bottom: 10px;
}
.status span{
    color:#e8ff00;
    font-weight: 900;
}
.imgBoxRounded{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #f1f1f1;
    margin-top: -25%;
    box-shadow: 5px 5px #9000d1;
}
.imgBoxRounded:hover{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #e1f104;
    margin-top: -25%;
    box-shadow: 5px 5px #9000d1;
}
.spaceLados{
    padding:15px;
}
.bordaAuxilar{
    background-color: red;
}
.linhaAuxiliar{
    background-color: rgb(251, 255, 0);
    color:black;
}
.boxheader{
    background-color: #420047;
    height: 50px;
    margin-right:20px;
    line-height: 50px;
    color:white;
}
.boxdireita{
    color:red;
    background-color: #420047;
}
.boxinterna{
    background-color: red;
    color:white;
}

.box{
    background-color: #e6d9d9; 
    border-radius: 10px;
    margin: 15px;
    padding:15px;
    word-wrap: break-word;
}
.boxFiltro{
    background-color: #dee6d9;
    border-radius: 10px;
    margin: 15px;
    background: #333333 url('../img/fundofiltro.jpg') top  ;
    background-repeat: no-repeat;
    background-size: cover;
}
.filtrosProdutosHorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtrosProdutosHorizontal ul li {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color:black;
}
.filtrosProdutosHorizontal li{
    margin: 5px;
    display: flex;
    min-width: 150px;
}
.filtrosProdutosHorizontal ul {
    margin:0px;
    
}
.filtrosProdutosHorizontal ul li a{
    text-decoration: none;
   
}
.filtrosProdutosHorizontal ul li img{
    text-decoration: none;
    line-height: 40px;
    width: 20px;
    margin-bottom: -5px;
    margin-right:3px;
}
.b{
    border:1px solid red;
}
.boxProduto{
    border-radius: 5px;
    display: flex;
    justify-content:start;
    align-items:center;
    flex-wrap: wrap;
}

h5{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:#420047;
}
.infoProdutos{
    margin:5px;
    color:white;
    border-radius: 5px;
    padding:5px;
    min-width: 200px;
    min-height: 175px;
    color:#000000;
    background-color: #c8bec9;
    font-size: 15px;
}
.infoProdutos p{
 border-left:4px solid #9000d1;
 padding-left:5px;
 margin-bottom: 5px;
 box-shadow: 1px 1px #9000d1;
}
.infoProdutos img{
    max-width: 190px;
    min-width: 190px;
    max-height: 130px;
    border-radius: 10px;
}
.ajustIcon {
    width:15px;
    height:15px;
}
.infoProdutos select {
  background-color: #a72fad;
  font-size: 15px;
  border:0px;
  color:white;
}
.carrinhoCompraBoxInfo input[type="number"]{
    border:2px solid #a72fad;
    font-size: 15px;
    color:#a72fad;
    width: 40px;
}
.infoProdutos option{
    background-color: #a180a3;
    font-size: 13px;
    color:black;
    font-weight: 900;
}
.infoProdutos button{
    margin: 5px;
    padding:5px;
    color:#e7d8e7;
    background-color: #00ff00;
    border: 0px;
    display: block;
    color: black;
    width: 95%;
}
.margen-t-b{
    margin-top: 3px;
    margin-bottom: 3px;
}
.carrinhoCompraBox{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap-reverse;
}
.carrinhoCompraBox img{
    float: left;
    min-width: 30%;
    max-width: 30%;
    border-radius: 10px;
    margin:5px;
}
.carrinhoCompraBox p{
    font-size: 14px;
}
.carrinhoCompraBox span{
    font-size: 15px;
    font-weight: 900;
}
.carrinhoCompraBox input[type="text"]{
    width: 65px;
}
.carrinhoCompraBoxInfo{
    padding:10px;
}
.carrinhoCompraBoxInfo select{
    border:2px solid #a72fad;
    font-size: 15px;
    color:#a72fad;
    margin:5px 0px;
}
.carrinhoCompraBoxInfo option{
    border:2px solid #a72fad;
    font-size: 15px;
    color:#a72fad;
    margin:5px;
}
.carrinhoCompraBoxInfo input{
    border:2px solid #a72fad;
    font-size: 15px;
    color:#a72fad;
}

.carrinhoCompraBoxInfo button{
    margin: 5px;
    padding:10px;
    color:#e7d8e7;
    background-color: #00ff00;
    border: 0px;
    display: inline-block;
    color: black;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.boxcupom{
    margin-top:10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #a180a3;
    border:2px solid #a180a3;
    padding:10px;
    border-radius: 7px;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
}

.boxcupom input{
    background-color: #420047;
    border:0px;
    border-radius: 10px;
    color: #f1f1f1;
    height: 30px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 16px;  
}
.subtotal{
    margin: 10px 0;
    text-align: start;
}
hr{
    border:1px solid #a180a3;
    margin:5px 0;
}
.subtotal button{
    background-color: #00ff00;
    border: 0px;
    border-radius: 40px;
    padding:10px;
    color:black;
    width: 100%;
    margin-top: 10px;
}
.boxfooter{
    background-color: #a180a33d; 
    border-radius: 10px;
    margin: 10px;
    padding:15px;
    color:white;
    word-wrap: break-word;
    box-sizing: border-box;
}
.flip{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
.card-flip:hover .flip{
    transform: rotateY(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
}

.back input[type="number"]{
    border:2px solid #a72fad;
    font-size: 15px;
    color:#a72fad;
    width: inherit;
}
.back h4{
   
    font-size: 18px;
}
.back select, option{
    width: 100%;
}