html {
    box-sizing: border-box;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.fundo{
    background:#420047 url('../img/1.png') no-repeat;
    background-position:top left;
    height: 500px;
}
.menuStyle{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    height: 70px;
    border-radius: 10px;
    background-color: #f1efef;
    box-shadow: -5px 5px #9000d1;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logoStyle{
   width: 100%;
   height: auto;
}
.barraPesquisa{
    text-align: end;
    padding-top: 20px;
 
}
.status{
    text-align: end;
    justify-content: end;
    align-items: end;
    margin-left:-20px;
}
@media only screen and (max-width:600px){
    .subHeader{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
    .subHeader{
        display: none;
    }
    .localizacao{
        display: none;
    }
    .status{
        display: none;
    }
}
.subHeader {
      color:black;
      text-align: center;
}
footer{
    background-color: #420047;
    color:white;
}